#login{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  .wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/bj01.png") no-repeat;
    background-size: 100% 100%;
    .list{
      width: 90%;
      -webkit-box-shadow: 0 0 10px #e4e4e4 ;
      -moz-box-shadow: 0 0 10px #e4e4e4 ;
      box-shadow: 0 0 10px #e4e4e4 ;
      -webkit-border-radius: 0.3rem;
      -moz-border-radius: 0.3rem;
      border-radius: 0.3rem;
      background-color: #fff;
      font-size: 0.3rem;
      color: #333333;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      >div{
        width: 80%;
        margin: 1rem 0;
        .list1{
          .head{
            width: 1.85rem;
            height: 1.85rem;
            margin: auto;
            margin-bottom: 0.5rem;
            >div{
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid #f8eef0;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              overflow: hidden;
              img{
                width: 95%;
              }
            }
          }
          .cont{
            margin-bottom: 0.7rem;
          }
        }
        .list2{
          form{
            >div{
              width: 100%;
              height: 0.9rem;
              border: 1px solid #e4e4e4;
              background-color: #f6f6f6;
              -webkit-border-radius: 0.9rem;
              -moz-border-radius: 0.9rem;
              border-radius: 0.9rem;
              margin-bottom: 0.4rem;
              >div{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: left;
                align-items: center;
                span{
                  width: 0.25rem;
                  height: 0.3rem;
                  margin-left: 0.45rem;
                  margin-right: 0.2rem;
                  background: url("../img/icon01.png") no-repeat;
                  background-size: 100% 100%;
                }
                input{
                  font-size: 0.28rem;
                  color: #333333;
                  border: 0;
                  background-color: transparent;
                }
              }
            }
            .form2{
              margin-bottom: 0.7rem;
              >div{
                span{
                  background: url("../img/icon02.png") no-repeat;
                  background-size: 100% 100%;
                }
              }
            }
            .form3{
              background-color: #fff;
              border: 0;
              button{
                border:1px solid #a51e32;
                -webkit-border-radius: 0.9rem;
                -moz-border-radius: 0.9rem;
                border-radius: 0.9rem;
                background-color: #fff;
                height: 100%;
                width: 60%;
                font-size: 0.28rem;
                color: #a51e32;
              }
            }
          }
        }
      }
    }
  }
}