#ownerVerify {
  width: 100%;
  height: 100%;
  font-size: 0.26rem;
  background-color: #fcfcfc;
  margin-bottom: 0.9rem; }
  #ownerVerify .list1 {
    width: 100%;
    height: 2.85rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/bj05.png") no-repeat #ffffff;
    background-size: 100% 100%; }
    #ownerVerify .list1 .wrap {
      width: 85%;
      height: 3rem;
      position: absolute;
      margin-top: 0.6rem;
      background: url("../img/bj06.png") no-repeat #fff;
      background-size: 100% 100%;
      -webkit-border-radius: 0.25rem;
      -moz-border-radius: 0.25rem;
      border-radius: 0.25rem;
      overflow: hidden;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.1);
      -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.1);
      box-shadow: 0 0 10px rgba(51, 51, 51, 0.1); }
      #ownerVerify .list1 .wrap > div .l1-1 > div:first-child {
        font-size: 0.34rem;
        color: #718dfd;
        font-weight: bold;
        margin-bottom: 0.3rem; }
      #ownerVerify .list1 .wrap > div .l1-1 > div:last-child {
        margin-bottom: 0.3rem; }
        #ownerVerify .list1 .wrap > div .l1-1 > div:last-child > div {
          width: 0.6rem;
          height: 0.02rem;
          background-color: #718dfd;
          margin: auto; }
      #ownerVerify .list1 .wrap > div .l1-2 {
        color: #666666;
        font-size: 0.26rem; }
        #ownerVerify .list1 .wrap > div .l1-2 > div:first-child {
          margin-bottom: 0.2rem; }
        #ownerVerify .list1 .wrap > div .l1-2 > div:last-child span:first-child {
          color: #ff0000; }
  #ownerVerify .list2 {
    background-color: #ffffff;
    padding: 0.01rem 0.4rem; }
    #ownerVerify .list2 .l2-1 {
      margin-top: 1.4rem; }
      #ownerVerify .list2 .l2-1 > form > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #c8c8c8;
        padding: 0.3rem 0; }
        #ownerVerify .list2 .l2-1 > form > div input {
          font-size: 0.28rem;
          color: #333333;
          border: 0;
          width: 95%; }
      #ownerVerify .list2 .l2-1 > form > div:first-child > span:first-child {
        width: 0.28rem;
        height: 0.28rem;
        background: url("../img/icon27.png") no-repeat;
        background-size: 100% 100%;
        margin-right: 0.2rem; }
      #ownerVerify .list2 .l2-1 > form > div:first-child input {
        width: 95%; }
      #ownerVerify .list2 .l2-1 > form > div:last-child > span {
        width: 25%;
        text-align: center;
        color: #a51e32; }
      #ownerVerify .list2 .l2-1 > form > div:last-child input {
        padding-left: 0.2rem; }
    #ownerVerify .list2 .l2-2 {
      color: #999999;
      margin: 0.5rem 0; }
      #ownerVerify .list2 .l2-2 p {
        text-align: justify;
        line-height: 0.45rem; }
        #ownerVerify .list2 .l2-2 p > span {
          color: #a51e32; }
  #ownerVerify .list3 {
    width: 100%; }
    #ownerVerify .list3 .l3-slide {
      width: 100%;
      margin-top: 0.2rem; }
      #ownerVerify .list3 .l3-slide .slide-wrap {
        width: 93%;
        margin: auto;
        background-color: #fff;
        -webkit-border-radius: 0.1rem;
        -moz-border-radius: 0.1rem;
        border-radius: 0.1rem;
        -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.1);
        -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.1);
        box-shadow: 0 0 10px rgba(51, 51, 51, 0.1);
        overflow: hidden; }
        #ownerVerify .list3 .l3-slide .slide-wrap .slide-title {
          width: 100%;
          background-color: #fdc006;
          text-align: center;
          font-size: 0.28rem;
          color: #ffffff;
          padding: 0.3rem 0; }
        #ownerVerify .list3 .l3-slide .slide-wrap .slide-cont {
          margin: 0.3rem 0;
          overflow: hidden; }
          #ownerVerify .list3 .l3-slide .slide-wrap .slide-cont .cont-wrap {
            height: 2.4rem; }
            #ownerVerify .list3 .l3-slide .slide-wrap .slide-cont .cont-wrap > ul li {
              display: flex;
              justify-content: space-around;
              text-align: center;
              align-items: center;
              font-size: 0.24rem;
              color: #999999;
              margin-bottom: 0.3rem; }
              #ownerVerify .list3 .l3-slide .slide-wrap .slide-cont .cont-wrap > ul li > div:first-child {
                width: 20%; }
              #ownerVerify .list3 .l3-slide .slide-wrap .slide-cont .cont-wrap > ul li > div:nth-child(2) {
                width: 30%; }
              #ownerVerify .list3 .l3-slide .slide-wrap .slide-cont .cont-wrap > ul li > div:last-child {
                width: 50%; }
  #ownerVerify .bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-top: 1px solid #e4e4e4;
    font-size: 0.28rem;
    color: #a51e32; }

#verifySuccess {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  font-size: 0.28rem;
  color: #333333; }
  #verifySuccess .wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    #verifySuccess .wrap > div {
      width: 2.8rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      text-align: center;
      -webkit-border-radius: 0.1rem;
      -moz-border-radius: 0.1rem;
      border-radius: 0.1rem; }
      #verifySuccess .wrap > div > div > div:first-child {
        margin-bottom: 0.25rem; }
        #verifySuccess .wrap > div > div > div:first-child img {
          width: 50%;
          margin: auto; }

/*# sourceMappingURL=ownerVerify.css.map */
