#stylistDetail1 {
  font-size: 0.26rem;
  color: #333333; }
  #stylistDetail1 .list1 {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1.1rem; }
    #stylistDetail1 .list1 > div.sel {
      background-color: #8693f3;
      color: #ffffff;
      padding: 0.15rem 0.4rem;
      -webkit-border-radius: 0.4rem;
      -moz-border-radius: 0.4rem;
      border-radius: 0.4rem; }
  #stylistDetail1 .list2 {
    width: 100%; }
    #stylistDetail1 .list2 .swiper5 .swiper-wrapper .swiper-slide {
      background-color: #ffffff;
      position: relative;
      overflow: hidden; }
      #stylistDetail1 .list2 .swiper5 .swiper-wrapper .swiper-slide > div:first-child {
        position: relative; }
        #stylistDetail1 .list2 .swiper5 .swiper-wrapper .swiper-slide > div:first-child img {
          width: 100%; }
      #stylistDetail1 .list2 .swiper5 .swiper-wrapper .swiper-slide > div:nth-child(2) {
        opacity: 0;
        padding: 0.2rem 0.25rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 0.24rem; }
        #stylistDetail1 .list2 .swiper5 .swiper-wrapper .swiper-slide > div:nth-child(2) > div:nth-child(1) p {
          text-align: justify;
          line-height: 0.48rem; }
      #stylistDetail1 .list2 .swiper5 .swiper-wrapper .swiper-slide > div:nth-child(2).slideUp {
        -webkit-animation: slideUp 0.5s  forwards;
        -o-animation: slideUp 0.5s  forwards;
        animation: slideUp 0.5s  forwards; }
      #stylistDetail1 .list2 .swiper5 .swiper-wrapper .swiper-slide > div:nth-child(3) {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
        #stylistDetail1 .list2 .swiper5 .swiper-wrapper .swiper-slide > div:nth-child(3) > div {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          background: rgba(0, 0, 0, 0.3);
          -webkit-border-radius: 0.6rem;
          -moz-border-radius: 0.6rem;
          border-radius: 0.6rem;
          padding: 0.15rem 0.4rem; }
          #stylistDetail1 .list2 .swiper5 .swiper-wrapper .swiper-slide > div:nth-child(3) > div > span:first-child {
            width: 0.21rem;
            height: 0.25rem;
            background: url("../img/icon24.png") no-repeat;
            background-size: 100% 100%;
            margin-right: 0.1rem; }
    #stylistDetail1 .list2 .swiper5 .swiper-pagination {
      bottom: 42%; }
      #stylistDetail1 .list2 .swiper5 .swiper-pagination .swiper-pagination-bullet {
        opacity: 1;
        background-color: #fff;
        width: 6px;
        height: 6px; }
      #stylistDetail1 .list2 .swiper5 .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #a51e32;
        width: 8px;
        height: 8px;
        position: relative;
        top: 0.025rem; }
  #stylistDetail1 .list3 {
    background-color: #fff;
    padding: 0.45rem 0.25rem 0 0.25rem; }
    #stylistDetail1 .list3 > div {
      width: 100%;
      height: 100%;
      border-bottom: 1px solid #e4e4e4;
      padding-bottom: 0.3rem; }
      #stylistDetail1 .list3 > div > div:first-child {
        font-size: 0.28rem;
        color: #333333;
        font-weight: bold;
        margin-bottom: 0.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        #stylistDetail1 .list3 > div > div:first-child > div:last-child {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          top: -0.2rem;
          right: 0.2rem;
          color: #a51e32; }
          #stylistDetail1 .list3 > div > div:first-child > div:last-child > span:first-child {
            width: 0.28rem;
            height: 0.28rem;
            background: url("../img/good01.png") no-repeat;
            background-size: 100% 100%;
            margin-right: 0.1rem; }
      #stylistDetail1 .list3 > div > div:nth-child(2) {
        display: flex;
        align-items: center;
        margin-bottom: 0.25rem; }
        #stylistDetail1 .list3 > div > div:nth-child(2) > div {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 0.5rem; }
          #stylistDetail1 .list3 > div > div:nth-child(2) > div span:first-child {
            margin-right: 0.05rem;
            width: 0.19rem;
            height: 0.2rem;
            background: url("../img/icon14.png") no-repeat;
            background-size: 100% 100%; }
        #stylistDetail1 .list3 > div > div:nth-child(2) > div:nth-child(2) span:first-child {
          background: url("../img/icon25.png") no-repeat;
          background-size: 100% 100%; }
        #stylistDetail1 .list3 > div > div:nth-child(2) > div:nth-child(3) span:first-child {
          width: 0.17rem;
          background: url("../img/icon15.png") no-repeat;
          background-size: 100% 100%; }
      #stylistDetail1 .list3 > div > div:last-child p {
        text-align: justify;
        line-height: 0.45rem; }
  #stylistDetail1 .list4 {
    background-color: #fff;
    padding: 0.3rem 0.25rem;
    margin-bottom: 0.2rem; }
    #stylistDetail1 .list4 .l4-wrap {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      #stylistDetail1 .list4 .l4-wrap > div {
        width: 11.5%;
        margin-right: 0.08rem;
        margin-bottom: 0.08rem; }
        #stylistDetail1 .list4 .l4-wrap > div img {
          width: 100%; }
      #stylistDetail1 .list4 .l4-wrap > div:nth-child(8n) {
        margin-right: 0; }
  #stylistDetail1 .list5 {
    margin-bottom: 1.1rem; }
    #stylistDetail1 .list5 .l5-cont {
      width: 100%;
      padding: 0.4rem 0;
      background-color: #fff; }
      #stylistDetail1 .list5 .l5-cont .l4-slide {
        background-color: #fff;
        width: 95%;
        margin: auto;
        margin-bottom: 0.25rem; }
        #stylistDetail1 .list5 .l5-cont .l4-slide > div:first-child {
          position: relative; }
          #stylistDetail1 .list5 .l5-cont .l4-slide > div:first-child > img {
            width: 100%; }
          #stylistDetail1 .list5 .l5-cont .l4-slide > div:first-child > span {
            position: absolute;
            right: -0.055rem;
            top: 0;
            width: 0.8rem;
            height: 0.45rem;
            background: url("../img/img02.png") no-repeat;
            background-size: 100% 100%;
            text-align: center;
            font-size: 0.24rem;
            color: #ffffff;
            line-height: 0.38rem; }
          #stylistDetail1 .list5 .l5-cont .l4-slide > div:first-child .slide-tag1 {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0; }
            #stylistDetail1 .list5 .l5-cont .l4-slide > div:first-child .slide-tag1 > div {
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #ffffff;
              background: rgba(0, 0, 0, 0.3);
              -webkit-border-radius: 0.6rem;
              -moz-border-radius: 0.6rem;
              border-radius: 0.6rem;
              padding: 0.15rem 0.4rem; }
              #stylistDetail1 .list5 .l5-cont .l4-slide > div:first-child .slide-tag1 > div > span:first-child {
                width: 0.21rem;
                height: 0.25rem;
                background: url("../img/icon24.png") no-repeat;
                background-size: 100% 100%;
                margin-right: 0.1rem; }
        #stylistDetail1 .list5 .l5-cont .l4-slide > div:nth-child(2) {
          padding: 0.4rem 0 0.4rem 0.3rem;
          font-size: 0.3rem;
          color: #333333;
          border: 1px solid #e4e4e4; }
          #stylistDetail1 .list5 .l5-cont .l4-slide > div:nth-child(2) > div:first-child {
            font-weight: bold;
            margin-bottom: 0.35rem; }
          #stylistDetail1 .list5 .l5-cont .l4-slide > div:nth-child(2) > div:nth-child(2) {
            display: flex;
            justify-content: left;
            align-items: center; }
            #stylistDetail1 .list5 .l5-cont .l4-slide > div:nth-child(2) > div:nth-child(2) > div {
              width: 1.6rem;
              text-align: center;
              padding: 0.1rem 0;
              margin-right: 0.2rem;
              border: 1px solid #e4e4e4;
              -webkit-border-radius: 0.4rem;
              -moz-border-radius: 0.4rem;
              border-radius: 0.4rem;
              font-size: 0.24rem;
              color: #888888; }
        #stylistDetail1 .list5 .l5-cont .l4-slide > div:nth-child(3) {
          display: flex;
          height: 0.8rem;
          justify-content: space-between;
          align-items: center;
          border: 1px solid #e4e4e4;
          border-top: 0; }
          #stylistDetail1 .list5 .l5-cont .l4-slide > div:nth-child(3) > div {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.24rem;
            color: #888888; }
            #stylistDetail1 .list5 .l5-cont .l4-slide > div:nth-child(3) > div > div:first-child {
              width: 0.55rem;
              height: 0.55rem;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              overflow: hidden;
              margin-right: 0.1rem; }
              #stylistDetail1 .list5 .l5-cont .l4-slide > div:nth-child(3) > div > div:first-child img {
                width: 100%; }
          #stylistDetail1 .list5 .l5-cont .l4-slide > div:nth-child(3) > div:last-child {
            border-left: 0;
            border-left: 1px solid #e4e4e4; }
            #stylistDetail1 .list5 .l5-cont .l4-slide > div:nth-child(3) > div:last-child > div:first-child {
              width: 0.35rem;
              height: 0.25rem;
              background: url("../img/icon23.png") no-repeat;
              background-size: 100% 100%; }
      #stylistDetail1 .list5 .l5-cont .l4-slide:last-child {
        margin-bottom: 0; }
    #stylistDetail1 .list5 .l5-bottom {
      width: 100%;
      text-align: center;
      font-size: 0.26rem;
      color: #888888;
      padding: 0.35rem 0; }
  #stylistDetail1 .bottom {
    width: 100%;
    height: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-top: 1px solid #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center; }
    #stylistDetail1 .bottom > div {
      width: 33.2%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #e4e4e4; }
    #stylistDetail1 .bottom > div:first-child {
      font-size: 0.26rem;
      color: #8693f3; }
      #stylistDetail1 .bottom > div:first-child span:first-child {
        width: 0.3rem;
        height: 0.25rem;
        background: url("../img/icon26.png") no-repeat;
        background-size: 100% 100%;
        margin-right: 0.1rem; }
    #stylistDetail1 .bottom > div:nth-child(2) {
      color: #da4650; }
    #stylistDetail1 .bottom > div:last-child {
      border-right: 0;
      color: #199ed8; }

/*# sourceMappingURL=stylistDetail1.css.map */
