#stylist{
  width: 100%;
  height: 100%;
  font-size: 0.26rem;
  color: #333333;
  .list1{
    width: 100%;
    background-color: #fff;
    margin-bottom: 0.2rem;
    .banner{
      width: 100%;
      img{
        width: 100%;
      }
    }
    .info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.35rem 0 0.35rem 0.25rem;
      .left{
        width: 60%;
        display: flex;
        align-items: center;
        >div{
          font-size: 0.2rem;
          color: #888888;
          border: 1px solid #e4e4e4;
          padding: 0.05rem 0.1rem;
          margin-right: 0.1rem;
          span:first-child{
            margin-right: 0.1rem;
          }
        }
        >div:last-child{
          margin-right: 0;
        }
      }
      .right{
        width: 40%;
        position: relative;
        >div:first-child{
          font-size: 0.3rem;
          color: #555555;
          font-weight: bold;
        }
        >div:last-child{
          width: 1.65rem;
          height: 1.65rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          position: absolute;
          right: 0.23rem;
          bottom: 0;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          img{
            width: 97%;
          }
        }
      }
    }
  }
  .list2{
    margin-bottom: 1rem;
    .l4-nav{
      background-color: #fff;
      .search-nav{
        width: 100%;
        padding: 0.5rem 0;
        >div{
          width: 90%;
          border: 1px solid #c8c8c8;
          margin: auto;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 0.8rem;
          -webkit-border-radius: 0.8rem;
          -moz-border-radius: 0.8rem;
          border-radius: 0.8rem;
          >div{
            position: absolute;
            width: 100%;
            font-size: 0.26rem;
            color: #999999;
            >div{
              display: flex;
              justify-content: center;
              align-items: center;
              i{
                display: inline-block;
                width: 0.28rem;
                height: 0.3rem;
                background: url("../img/icon17.png") no-repeat;
                background-size: 100% 100%;
                margin-right: 0.1rem;
              }
            }
          }
          >input{
            width: 90%;
            text-align: center;
            font-size: 0.26rem;
            border: 0;
          }
        }
      }
      .tag-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 0.3rem;
        >div{
          font-size: 0.24rem;
          color: #888888;
          padding: 0.15rem 0;
          width: 23%;
          text-align: center;
          border: 1px solid #e4e4e4;
          -webkit-border-radius: 0.35rem;
          -moz-border-radius: 0.35rem;
          border-radius: 0.35rem;
          margin-bottom: 0.4rem;
        }
        >div.sel{
          background-color: #8693f3;
          border: 1px solid #8693f3;
          color: #ffffff;
        }
        >div:last-child{
          background-color: #eceeff;
          border: 1px solid #bac2ff;
          color: #8693f3;
        }
      }
    }
    .l4-cont{
      width: 100%;
      padding: 0.2rem 0;
      background-color: #fff;
      .l4-slide{
        background-color: #fff;
        width: 95%;
        margin: auto;
        margin-bottom: 0.25rem;
        >div:first-child{
          position: relative;
          img{
            width: 100%;
          }
          span{
            position: absolute;
            right: -0.055rem;
            top: 0;
            width: 0.8rem;
            height: 0.45rem;
            background: url("../img/img02.png") no-repeat;
            background-size: 100% 100%;
            text-align: center;
            font-size: 0.24rem;
            color: #ffffff;
            line-height: 0.38rem;
          }
        }
        >div:nth-child(2){
          padding: 0.4rem 0 0.4rem 0.3rem;
          font-size: 0.3rem;
          color: #333333;
          border: 1px solid #e4e4e4;
          >div:first-child{
            font-weight: bold;
            margin-bottom: 0.35rem;
          }
          >div:nth-child(2){
            display: flex;
            justify-content: left;
            align-items: center;
            >div{
              width: 1.6rem;
              text-align: center;
              padding: 0.1rem 0;
              margin-right: 0.2rem;
              border: 1px solid #e4e4e4;
              -webkit-border-radius: 0.4rem;
              -moz-border-radius: 0.4rem;
              border-radius: 0.4rem;
              font-size: 0.24rem;
              color: #888888;
            }
          }
        }
        >div:nth-child(3){
          display: flex;
          height: 0.8rem;
          justify-content: space-between;
          align-items: center;
          border:1px solid #e4e4e4;
          border-top: 0;
          >div{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.24rem;
            color: #888888;
            >div:first-child{
              width: 0.55rem;
              height: 0.55rem;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              overflow: hidden;
              margin-right: 0.1rem;
              img{
                width: 100%;
              }
            }
          }
          >div:last-child{
            border-left: 0;
            border-left: 1px solid #e4e4e4;
            >div:first-child{
              width: 0.35rem;
              height: 0.25rem;
              background: url("../img/icon23.png") no-repeat;
              background-size: 100% 100%;
            }
          }
        }
      }
    }
    .l4-bottom{
      width: 100%;
      text-align: center;
      font-size: 0.26rem;
      color: #888888;
      padding: 0.35rem 0;
    }
  }
  .bottom{
    position: fixed;
    width: 100%;
    height: 1rem;
    bottom: 0;
    left: 0;
    display: flex;
    border-top: 1px solid #e4e4e4;
    background-color: #fff;
    >div{
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.28rem;
      color: #199ed8;
    }
    >div:first-child{
      border-right: 1px solid #e4e4e4;
      color: #da4650;
    }
  }
}
#sharer{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  font-size: 0.26rem;
  color: #333333;
  >div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .sharer-wrap{
      width: 6.45rem;
      height: 8.45rem;
      background: url("../img/bj07.png") no-repeat;
      background-size: 100% 100%;
      .s-1{
        margin-bottom: 0.93rem;
        position: relative;
        .s1-title{
          text-align: center;
          font-size: 0.34rem;
          color: #ffffff;
          margin-top: 0.5rem  ;
          margin-bottom: 0.55rem;
        }
        .s1-cont{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 0.3rem;
          >div{
            width: 33.3%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            font-size: 0.26rem;
            >div:first-child{
              width: 1.15rem;
              height: 0.7rem;
              display: flex;
              justify-content: center;
              align-items: center;
              img{
                width: 50%;
                margin: auto;
              }
            }
            >div:nth-child(2){
              margin-bottom: 0.05rem;
            }
            >div:last-child{
              font-size: 0.24rem;
              color: #fff000;
            }
          }
        }
        .closeBtn{
          position: absolute;
          right: 0.4rem;
          top: -0.15rem;
          width: 0.12rem;
          height: 0.12rem;
          background-color: #000000;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          >div:first-child{
            width: 0.06rem;
            height: 0.85rem;
            background-color: #fff;
            position: absolute;
            bottom: 0.03rem;
            left: 0.035rem;
            -webkit-border-radius: 0.2rem;
            -moz-border-radius: 0.2rem;
            border-radius: 0.2rem;
          }
          >div:last-child{
            width: 1.1rem;
            height: 1.1rem;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            position: absolute;
            left: -0.47rem;
            bottom: 0.55rem;
            img{
              width: 100%;
            }
          }
        }
      }
      .s-2{
        text-align: center;
        color: #5b6be0;
        font-weight: bold;
        font-size: 0.3rem;
        margin-bottom: 0.35rem;
      }
      .s-3{
        padding: 0 0.5rem;
        margin-bottom: 0.35rem;
        ol{
          margin-left: 0.35rem;
          li{
            list-style-type:decimal;
            margin-bottom: 0.25rem;
          }
        }
        >div{
          font-size: 0.23rem;
          color: #888888;
        }
      }
      .s-4{
        text-align: center;
        button{
          font-size: 0.36rem;
          color: #ffffff;
          background-color: #7c89ef;
          padding: 0.2rem 1rem;
          -webkit-border-radius: 0.1rem;
          -moz-border-radius: 0.1rem;
          border-radius: 0.1rem;
          -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.5);
          -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.5);
          box-shadow: 0 0 10px rgba(51, 51, 51, 0.5);
        }
      }
    }
  }
}