#stylistTag{
  >div{
    background-color: #ffffff;
    margin-bottom: 0.2rem;
    .title{
      font-size: 0.26rem;
      color: #333333;
      padding: 0.25rem 0;
      border-top: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      span{
        margin-left: 0.25rem;
      }
    }
    .tag-nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 0.4rem 0.3rem;
      >div{
        font-size: 0.24rem;
        color: #888888;
        padding: 0.12rem 0;
        width: 23%;
        text-align: center;
        border: 1px solid #e4e4e4;
        -webkit-border-radius: 0.35rem;
        -moz-border-radius: 0.35rem;
        border-radius: 0.35rem;
        margin-bottom: 0.3rem;
      }
      >div.sel{
        background-color: #8693f3;
        border: 1px solid #8693f3;
        color: #ffffff;
      }
      >div:nth-last-child(1),>div:nth-last-child(2),>div:nth-last-child(3),>div:nth-last-child(4){
        margin-bottom: 0;
      }
    }
  }
  >div.list3{
    .tag-nav{
      >div{
        margin-bottom: 0.3rem;
      }
      >div:last-child{
        margin-bottom: 0;
      }
    }
  }
  >div.list4{
    width: 100%;
    background-color: #f6f6f6;
    text-align: center;
    button{
      font-size: 0.3rem;
      color: #ffffff;
      background-color: #8693f3;
      width: 5rem;
      height: 0.8rem;
      -webkit-border-radius: 0.8rem;
      -moz-border-radius: 0.8rem;
      border-radius: 0.8rem;
    }
  }
}